@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color:grey
}
h1, h2{
    font-family: poppins, sans-serif;
    color: rgb(17, 15, 15);
   


}
#sign{
    float: left;
    font-size: 280%;
    color: brown;
    margin: 30px;

}
#sign span{
    color: rgb(2, 23, 41);
}
#menu-item{
    letter-spacing: 3px;
    font-size: 120%;
}
#menu-item li{
    float: right;
    list-style-type: none;
    margin-top: 35px;
   
}
#menu-item a{
    text-decoration: none;
    color: brown;
    font-size: 120%;
    margin: 30px;
}
#menu-item a:hover{
    background:1px lightpink;
    padding: 5px 5px;
    border-radius: 10px;
    transition: 0.3s;
    opacity: 1;
}
#menu-item, #sign{
    line-height: 80px;
}

/* image section */

#main-image{
    height: 700px;
    width: 100%;
    background: url('../images/main\ images.jpg') no-repeat center center;
    
}

#outside-image{
    height: 700px;
    width: 100%;
    overflow: hidden;
}
#main-image{
    position: relative;
  }
  
  .my-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
  }
  .my-header h2{
    font-size: 5vmin;
   

}
.my-header h2 span{
    color: burlywood;
    
}
.quotes{
    width: 150px;
    height:4px;

}
.my-header p{
    font-size: 2vmin;
    color: black;
    font-family:'Roboto';
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 20px;

}
.button{
    color:whitesmoke;
    background-color: hotpink;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 2vmin;
    text-decoration: none;
}
.button:hover{
    background-color: blue;
    transition: 0.5;
    opacity: 0.5;
}
   




