@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: grey 
}

h1, h2 {
    font-family: poppins, sans-serif;
    



}

/* nav section */
#sign {
    float: left;
    font-size: 280%;
    color: brown;


}

#sign span {
    color: #36455c;
}

#menu-item {
    letter-spacing: 1px;
    font-size: 120%;
}

#menu-item li {
    float: right;
    list-style-type: none;


}

#menu-item a {
    text-decoration: none;
    color: brown;
    font-size: 120%;
    margin:0 25px;
}

#menu-item a:hover {
    background: lightpink;
    padding: 5px 5px;
    border-radius: 5px;
    transition: 0.3s;
    opacity: 1;
}

#menu-item,
#sign {
    line-height: 60px;
}

/* image section */

#main-image {
    height: 700px;
    width: 100%;
    background: url('../images/main\ images.jpg') no-repeat center center;

}

#outside-image {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    position: relative;
}

.my-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.my-header h2 {
    font-size: 5vmin;
    color: #111;


}

.my-header h2 span {
    color: burlywood;

}

.quotes {
    width: 150px;
    height: 4px;

}

.my-header p {
    font-size: 2vmin;
    color: black;
    font-family: 'Roboto';
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 20px;

}

.button {
    color: whitesmoke;
    background-color: hotpink;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 2vmin;
    text-decoration: none;
}

.button:hover {
    background-color: blue;
    transition: 0.5s;
    opacity: 0.5;
}

/*about section */
.heading {
    text-align: center;
    margin-top: 25px;


}

.heading h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #36455c;

}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 50px;

}

.about-us {
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}

.about-us img {
    flex:  0 50%;
    max-width: 50%;
    height: auto;

}

.content {
    padding: 30px;

}

.content p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0;


}

.read-more {
    display: inline-block;
    color: lightpink;
    
    background-color: #0084ff;
    border: none;
    border-radius: 3px;
    padding: 12px 20px;
    cursor: pointer;
}

.read-more:hover {
    background-color:  #0084ff;
    transition: 0.3s;
    opacity: 0.5;

}


/* offer section*/

.topic {
    text-align: center;
    margin-top: 25px;
}

.topic h1 {
    font-size: 50px;
    color: #36455c;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;


}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-section .card {
    flex: 1;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.content-section .card img {
    width: 100%;
    height: auto;
}

.content-section .card h4 {
    margin: 25px 0px;
    font-size: 25px;
    font-family: 'Poppins';
    color: #36455c;
}

.content-section .card p {
    font-size: 16px;
    margin-bottom: 25px;
    padding: 0px 10px;
    color: #006dd6;

}

.content-section .card button {
    margin-bottom: 20px;
    color: whitesmoke;
    background-color: hotpink;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 1em;
}

.content-section .card button:hover {
    background-color: blue;
}


/* footer section */

footer {
    background-color: #111;
}

.footercontainer {
    width: 100%;
    padding: 70px 30px 20px;

}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    padding: 10px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 50%;
}

.social-links a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social-links a:hover {
    background-color: blueviolet;
    transition: 0.2s;

}

.footernav {
    margin: 30px 0;

}

.footernav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footernav ul li a {
    color: whitesmoke;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.7;
    transition: 0.2s;

}

.footernav ul li a:hover {
    opacity: 1;
}

.copyright {
    background-color: black;
    padding: 20px;
    text-align: center;

}

.copyright p {
    color: whitesmoke;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* Album page */
#album {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 2px;
    margin: 0px 20px 5px;
    border: 20px black;

}

#album img {
    width: 100%;
}

/* Enquiry page */

.enquiry-container {
    clear: both;
    height: 100vh;
    width: 100%;
    background-color: #0084ff;
    background: url(../images/enquiry\ pic2.jpg) no-repeat;
    background-size: cover;
}

.inside-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 50%;
   


}

.inside-container h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 300px;
    color: whitesmoke;
}

.inside-container p {
    font-size: 20px;
    margin: 15px 0;
    color: whitesmoke;
    font-weight: bold;

}

.inside-container input {
    font-size: 20px;
    padding: 10px 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: whitesmoke;

}

.inside-container button {
    font-size: 16px;
    margin: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.inside-container button:hover {
    color: crimson;
    background-color: #0084ff;
    transition: 0.3s;


}

/* media query for desktop size screen section */

@media screen and (min-width: 1024px) {

    /*nav section */
    #sign {
        font-size: 280%;
        margin: 30px;
    }

    /* image section */
    #main-image {
        height: 700px;
    }

    /*about section */
    .heading h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    /* offer section */
    .topic h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    /* footer section */
    footer {
        padding: 70px 30px 20px;
    }

    /* album page */
    #album {
        column-count: 4;
        margin: 0px 20px 5px;
    }

    
        
    }




/*media query for iPad size screen*/
@media screen and (max-width:1023px) and (min-width: 768px) {

    /*nav section */
    #sign {
        font-size: 200%;
        margin: 20px;
    }

    #main-image {
        height: 500px;

    }

    /* about section */
    .heading h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .about-us{
        flex-direction: column;
        text-align: center;
    }
    .about-us img{
        max-width: 100%;
        margin-bottom: 30px;
        
    }
    .content{
        padding: 15px;
    }
    .read-more{
        padding: 10px 15px;
    }

    /* offer section */
    .topic {
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    }
    
    
    


    /*footer section */
    footer {
        padding: 50px 20px 10px;
    }

    .footernav ul {
        flex-direction: column;
    }

    .footernav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    /* album page */
    #album {
        column-count: 3;
        margin: 0px 10px 5px;
    }

    /*enquiry page */
    
    .inside-container{
        width: 90%;
        max-width: 450px;
    }

    .inside-container h1 {
        font-size: 28px;
        margin-top: 30px;
    }
    
    .inside-container p {
        font-size: 18px;
        margin: 10px 0;
    }
    
    .inside-container button {
        font-size: 14px;
        padding:8px 12px;
        margin: 14px;
}


/* media query for Mobile */

@media screen and (max-width:768px) {

    #menu-item, #sign{
        line-height: 30px;
    }
    #sign {
        float: none;
        font-size: 200%;
        margin: 20px;
    }
    #menu-item li{
        float: none;
        margin-top: 15px;

    }
    #menu-item a{
        font-size: 100%;
        margin: 5px;
    }
    .my-header h2{
        font-size: 4vmin;
    }
    .my-header p{
        font-size: 2.5vmin;
    }
    .button{
        font-size: 2.5vmin;
        padding: 8px 12px;
    }


    /*image section */
    #main-image {
        height: 300px;
    }
    #outside-image{
        height: 300px;
    }

    /*about section */
    .heading h1 {
        font-size: 20px;
    }
    .about-us{
       
        flex-direction: column;
    }
    .about-us img{
       max-width: 100%;
       flex: 0 100%;
    }
    .content p{
        font-size: 12px;
    }
    .content {
        padding: 15px;
        flex: 0 100%;
        max-width: 100%;
    }
    .read-more{
        padding: 10px 15px;
        font-size:12px ;
    }

    /*offer section */
    .content-section {
        flex-direction: column;
    }

    .topic {
        font-size: 30px;
        margin-bottom: 5px;
    }

    /* footer section */
    footer {
        padding: 30px 10px 5px;
    }

    .footernav ul {
        flex-direction: column;
    
    }
    .footernav ul li{
        flex: 1 0 50%;
    }

    /* album page */
    #album {
        column-count: 2;
        margin: 0px 5px 5px;

    }

    /*enquiry page */
    .inside-container {
        width: 90%;
        padding: 0 20px;
    }
    
    .inside-container h1 {
        font-size: 28px;
        margin-top: 30px;
    }
    
    .inside-container p {
        font-size: 16px;
        margin: 10px 0;
    }
    
    .inside-container input {
        font-size: 16px;
        padding:8px;
    }
    
    .inside-container button {
        font-size: 14px;
        margin: 15px;
        padding: 8px 12px;
}
}
@media screen and (max-width: 480px) {
    
  
    #sign {
      font-size: 100%;
    }
  
    #menu-item a {
      font-size: 80%;
      margin: 0 10px;
    }
  
    .my-header h2 {
      font-size: 4vmin;
    }
  
    .my-header p {
      font-size: 1.5vmin;
    }
  
    .button {
      font-size: 1.5vmin;
      padding: 8px 12px;
    }
  
    .heading h1 {
      font-size: 40px;
    }
  
    .about-us {
      flex-direction: column;
    }
  
    .about-us img {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .content p {
      font-size: 16px;
    }
  
    .content-section .card {
      margin: 10px;
    }
  
    .content-section .card h4 {
      font-size: 20px;
    }
  
    .content-section .card p {
      font-size: 14px;
      margin-bottom: 20px;
    }
  
    .content-section .card button {
      padding: 8px 10px;
      font-size: 0.9em;
    }
  
    .social-links a {
      padding: 6px;
      margin: 6px;
    }
  
    .social-links a i {
      font-size: 1.5em;
    }
  
    .footernav ul li a {
      margin: 10px;
      font-size: 16px;
    }
  
    .designer {
      margin: 0px 3px;
    }
  }